{% extends 'base.html' %}

{% block content %}

<form style="margin-left: 45rem;" class="form-inline my-2 my-lg-0" action="{% url 'medicine:search' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
    <button class="btn btn-dark" type="submit">검색</button>
</form>
<br>
{% for list in posts %}
<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p><a href="{{list.pk}}/">{{list.postname}}</a></p>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}


<div class="container" style="text-align: center;">
    <div class="container">
            <div class="card-body">
                {% if posts.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{posts.previous_page_number}}">Previous</a>
                {% endif %}

                <span>{{posts.number}}</span>
                <span>of</span>
                <span>{{posts.paginator.num_pages}}</span>

                {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}">Next</a>
                <a href="?page={{posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>
</div>


{% endblock %}