{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>카테고리별 장소 검색하기</title>
    <link rel="stylesheet" href="{% static 'map.css' %}" type="text/css" media="screen">

</head>
<body>

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
    <ul id="category">
      <li id="HP8" data-order="0"> 
            <span class="category_bg hospital"></span>
            병원
        </li> 
        <li id="PM9" data-order="1"> 
            <span class="category_bg pharmacy"></span>
            약국
        </li>  

    </ul>
</div>

<a href="https://map.kakao.com/link/search/병원">병원 길 찾기  </a>
<a href="https://map.kakao.com/link/search/약국">약국 길 찾기</a>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=388ae4ad1788096491c048838dc16214&libraries=services"></script>
<script src="/static/js/map.js"></script>

</body>
</html>


{% endblock %}